/* Media Query Variables */

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

/* Color Palettes */

$colors: #fff #eee #ddd #ccc #bbb;  /* nth($color, #) ~ Arrays Start At 1 */
$customColors: #111 #222 #333 #444 #555; 

/* Logo File Location */

$favicon: "<< FAVICON FILE PATH >>";
$logo: "<< LOGO FILE PATH >>";
