/* =-=-=-=-=-=-=-=-= Footer Text Handling =-=-=-=-=-=-=-=-= */

.title {
  color: #FFF;
  font-size: 30px;
  margin: 0;
}

.subtitle {
  color: #72767A;
  font-size: 18px;
  margin: 0;
}

.bottom-spacer {
  padding-bottom: 20px;
}

.footer-body-text {
  margin-top: 15px;
}

.footer-body-text .icon {
  height: 50px;
  width: 50px;
  margin-left: 25px;

  font-family: FontAwesome;
  font-size: 20px;
  color: #fff;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-body-text .icon p {
  margin: 0;
  padding: 0;
}

/* =-=-=-=-=-=-=-=-= Footer (_footer.html) =-=-=-=-=-=-=-=-= */
  
  .general-contact-info {
    width: 100%;
    margin-bottom: 20px;
    flex: 1;
  }
  
  .social-media {
    height: 50px;
    display:flex;
    justify-content: space-around;
  }
  
  .footer-body-text {
    margin-top: 15px;
  }
  
  .footer-body-text .icon {
    height: 50px;
    width: 50px;
    margin-left: 25px;
  
    font-family: FontAwesome;
    font-size: 20px;
    color: #fff;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .footer-body-text .icon p {
    margin: 0;
    padding: 0;
  }
  
  .contact-form {
    width: 100%;
  
    flex: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .copyright {
    height: auto;
    width: 100%;
    background-color: #231F20;
    border-top: 1px solid #72767A;
  }
  
  .copyright .copyright-text {
    color: #72767A;
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
  }

  .submit-button {
    height: 30px;
    width: 50%;
    margin: 0px 10% 30px 20px;
  }
